// Font
:root {
  --sn-stylekit-sans-serif-font: -apple-system, BlinkMacSystemFont, "Karla", "Atkinson Hyperlegible", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", var(--sn-stylekit-simplified-chinese-font), sans-serif;
  --sn-stylekit-monospace-font: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "Ubuntu Mono", "Courier New", monospace;
  --sn-stylekit-code-font: "Fira Code", Menlo, Consolas, Monaco, monospace;
}

// Limit the width of the editor content
.editor-content {
  max-width: 50rem;
}

// Center in focus mode
.focus-mode .editor {
  min-width: 50rem;
  margin-left: auto;
  margin-right: auto;
}

// Scrollbar
#navigation-content,
#notes-scrollable,
.ContentEditable__root {
  scrollbar-width: thin;
}

// Super Editor
.ContentEditable__root {
  --sn-stylekit-font-size-editor: 1rem;

  // Padding
  @media screen and (min-width: 768px) {
    padding-left: 2rem;
    padding-right: 2rem;

    .focus-mode & {
      padding-left: 4rem;
      padding-right: 4rem;
    }

    // Scroll past last line
    padding-bottom: 46vh !important;
  }
}
